# RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ index.html?route=$1 [L,QSA]


RewriteEngine On

# Do not rewrite requests for existing files and directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Exclude .js, .css, .json, and other static assets from being rewritten
RewriteCond %{REQUEST_URI} !\.(js|css|json|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|otf|eot|mp4|webm|ogg|mp3|wav|pdf)$ [NC]

# Rewrite all other requests to index.html
RewriteRule ^(.*)$ index.html?route=$1 [L,QSA]