<div class="page-size">
    <div class="bg-dec"></div>

    <div class="d-flex content">
        <div class="left-nav" id="left-nav">
            <div class="nav-container">
                <div class="d-flex justify-content-center flex-wrap">
                    <img class="app-logo"
                        src="https://t3.ftcdn.net/jpg/05/69/96/48/360_F_569964847_Wa3tNpPYRGABpplPGSFT3LLB7E2wU0jb.jpg">
                    <div class="hr"></div>
                </div>
                <div class="nav-list" id='nav-list'>
                    <div class="nav-active" id="nav-active"></div>
                </div>
            </div>
        </div>
        <div class="right-content" id="right-content">
            <div class="top-nav d-flex justify-content-between">
                <div class="menu-btn1" onclick="adminLayout.toggleLeftNavBar()"><i class="bi bi-list i"></i></div>
                <div class="px-3 d-flex align-items-center" onclick="adminLayout.toggleMenu()"
                    onblur="adminLayout.toggleMenu()">
                    <div class="profile-img"></div>
                    <div class="user-name ps-2" id="user-name"></div>
                    <div class="menu-pop p-2" id="menu">
                        <div class="btn p-2 col-12 menu-btn"><i class="bi bi-person-lines-fill"></i> Profile</div>
                        <div class="btn p-2 col-12 menu-btn" onclick="adminLayout.logout()"><i
                                class="bi bi-box-arrow-left pe-2"></i>Logout</div>
                    </div>
                </div>
            </div>
            <div id="admin-outlet"></div>
        </div>
    </div>
</div>